/*
 * NB: "color-scheme: light dark" enables support for the light-dark() color function.
 */
:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(#eee, #222);
    color: light-dark(#000, #eee);
}
