{% extends 'base.html' %}

{% block title %}Email an Image: GPS: {% endblock %}

{% block content %}

    <div>
        /
        <a href="/">Home</a>
        /
        <a href="./">GPS</a>
    </div>
    <hr />

    {% if lat or lon %}
        <h2>
            Results
        </h2>
        <fieldset>
            <legend>
                Latitude, Longitude
            </legend>
            <p>
                {{ lat }}, {{ lon }}
            </p>
        </fieldset>
        <p style="margin-top: 60px;">
            Go here to
            <a href="/gps/rcv_image_email">
                start over
            </a>
        </p>
    {% endif %}

    {% if lat == None %}
        <h1>
            Email an Image to Extract GPS Coords from Image Exif tags
        </h1>
        <p>
            Please note that this is very "alpha" and will have rough edges.
        </p>
        <ul>
            <li>JPEG is probably best, though several photo formats may work.</li>
            <li>The image is processed and discarded by this app.</li>
            <li>
                This app is not approved to send emails yet, only receive.
                So we can check the logs to see the GPS coords that were
                extracted from a photo you sent, but we cannot reply at this time.
            </li>
        </ul>

        <fieldset class="well">
            <legend>
                Email an Image with GPS Coords
            </legend>

            Email a photo to this address:
            <a href="mailto:gps-image@shed.trailpittsburgh.org">
                gps-image@shed.trailpittsburgh.org
            </a>

        </fieldset>
    {% endif %}

{% endblock %}
