{% extends 'base.html' %}

{% block title %}Email an Image: GPS: {% endblock %}

{% block content %}

    <div>
        /
        <a href="/">Home</a>
        /
        <a href="./">GPS</a>
    </div>
    <hr />

    {% if lat or lon %}
        <h2>
            Results
        </h2>
        <fieldset>
            <legend>
                Latitude, Longitude
            </legend>
            <p>
                {{ lat }}, {{ lon }}
            </p>
        </fieldset>
        <p style="margin-top: 60px;">
            Go here to
            <a href="/gps/rcv_image_mms">
                start over
            </a>
        </p>
    {% endif %}

    {% if lat == None %}
        <h1>
            <strike>
            Text (MMS) an Image to Extract GPS Coords from Image Exif tags
            </strike>
        </h1>
        <h2>
            Unfortunately, this is not possible. It's a failed experiment.
        </h2>
        <p style="width: 67%;">
            Exif tags are stripped out of images sent via MMS texting.
            The hypothesis with this experiment was that maybe if we parsed the
            image ourselves or used Twilio to receive the MMS we would get a different
            result. Nope, no GPS info or Exif tags came through with the image.
        </p>



        <fieldset class="well">

            <strike>
                Text a photo to this number:
                (+1) 999-999-9999
            </strike>

        </fieldset>

        <strike>
        <p>
            Please note that this is very "alpha" and will have rough edges.
        </p>
        <ul>
            <li>JPEG is probably best, though several photo formats may work.</li>
            <li>The image uploaded is processed and discarded, it is not saved by this app.</li>
        </ul>
        </strike>
    {% endif %}

{% endblock %}
