{% extends 'base.html' %}

{% block title %}Email an Image: GPS: {% endblock %}

{% block content %}

    <div>
        /
        <a href="/">Home</a>
        /
        <a href="./">GPS</a>
    </div>
    <hr />

    {% if lat or lon %}
        <h2>
            Results
        </h2>
        <fieldset>
            <legend>
                Latitude, Longitude
            </legend>
            <p>
                {{ lat }}, {{ lon }}
            </p>
        </fieldset>
        <p style="margin-top: 60px;">
            Go here to
            <a href="/gps/rcv_image_mms">
                start over
            </a>
        </p>
    {% endif %}

    {% if lat == None %}
        <h1>
            Text (MMS) an Image to Extract GPS Coords from Image Exif tags
        </h1>
        <p>
            Please note that this is very "alpha" and will have rough edges.
        </p>
        <ul>
            <li>JPEG is probably best, though several photo formats may work.</li>
            <li>Image file size is limited to 10MB for now.</li>
            <li>The image uploaded is processed and discarded, it is not saved by this app.</li>
        </ul>

        <fieldset class="well">
            <legend>
                To Begin, Send an Image via Text (MMS)
            </legend>

            Text a photo to this number:
            <a href="sms:18778796908">
                (+1) 877-879-6908
            </a>

        </fieldset>
    {% endif %}

{% endblock %}
