{% extends 'base.html' %}


{% block title %}GPS Index: {% endblock %}

{% block content %}
    <div>
        <a href="/">
            / Home
        </a>
    <hr />
    </div>

    <h1>
        GPS Home.
    </h1>

    <p>
        Whats available:
    </p>
    <ul>
        <li><a href="./upload_image">upload a photo to see its GPS coordinates</a></li>
        <li><a href="./rcv_mms_image">Receive a SMS message containing a photo</a></li>
        <li><a href="./rcv_email_image">Receive an Email message with a photo attached </a></li>
    </ul>

{% endblock %}
