{% extends 'base.html' %}


{% block title %}GPS Functions: {% endblock %}

{% block content %}
    <div>
        <a href="/">
            / Home
        </a>
    <hr />
    </div>

    <h1>
        GPS Functions Index
    </h1>

    <p>
        What's available:
    </p>
    <ul>
        <li>
            Extract GPS Coordinates from an Image via:
            <ul>
                <li><a href="./rcv_image_html">HTML Form image upload</a></li>
                <li><a href="./rcv_image_email">Send an Email with a photo attached w/ GPS Coordinates</a></li>
                <li>
                    <strike>
                        <a href="./rcv_image_mms">Send a text message (MMS) containing a photo</a>
                    </strike>
                </li>
            </ul>
        </li>
    </ul>

{% endblock %}
