{% extends 'base.html' %}

{% block title %}Upload Image: GPS: {% endblock %}

{% block content %}

    <div>
        /
        <a href="/">Home</a>
        /
        <a href="./">GPS</a>
    </div>
    <hr />

    {% if lat or lon %}
        <h2>
            Results
        </h2>
        <fieldset>
            <legend>
                Latitude, Longitude
            </legend>
            <p>
                {{ lat }}, {{ lon }}
            </p>
        </fieldset>
        <p style="margin-top: 60px;">
            Go here to
            <a href="/gps/upload_image">
                start over
            </a>
        </p>
    {% endif %}

    {% if lat == None %}
        <h1>
            Extract GPS Coords from Image
        </h1>
        <h2>
            Upload an Image to Begin
        </h2>
        <p>
            Please note that this is very "alpha" and will have rough edges:
        </p>
        <ul>
            <li>JPEG is probably best, though several photo formats may work.</li>
            <li>Image file size is limited to 10MB for now.</li>
            <li>The image uploaded is processed and discarded, it is not saved.</li>
        </ul>
        <fieldset>
            <legend>
                Upload an Image with GPS Coords
            </legend>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </fieldset>
    {% endif %}

{% endblock %}
