{% extends 'base.html' %}

{% block title %}Upload Image: GPS: {% endblock %}

{% block content %}

    <div>
        /
        <a href="/">Home</a>
        /
        <a href="./">GPS</a>
    </div>
    <hr />

    {% if lat or lon %}
        <h2>
            Results
        </h2>
        <fieldset>
            <legend>
                Latitude, Longitude
            </legend>
            <p>
                {{ lat }}, {{ lon }}
            </p>
        </fieldset>
        <p style="margin-top: 60px;">
            Go here to
            <a href="/gps/upload_image">
                start over
            </a>
        </p>
    {% endif %}

    {% if lat == None %}
        <h2>
            Upload Image
        </h2>
        <p>
            Note: this is very "alpha" and will have rough edges. Note:
        </p>
        <ul>
            <li>JPEG is probably best, though several photo formats are theoretically supported.</li>
            <li>images are limited to 10MB.</li>
        </ul>
        <fieldset>
            <legend>
                Upload Image
            </legend>
            <form method="post" enctype="multipart/form-data">
{#                {% TODO: fix CSRF, it fails in GCR due to does not match any trusted origins. %}#}
{#                {% csrf_token %}#}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </fieldset>
    {% endif %}

{% endblock %}
