{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} TrailPgh Shed</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <link rel="icon" href="{% static 'images/TrailPghIcon.png' %}" type="image/x-icon">
</head>
<body>

<header>
    <!-- Navigation -->
</header>
<main>
    {% block content %}
        <!-- Default content or placeholder -->
    {% endblock %}
</main>
<hr/>
<footer>
    <!-- Footer content -->
</footer>

</body>
</html>
